SUPABASE_URL="https://rrghhuduqfsouteaymfw.supabase.co"
SUPABASE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJyZ2hodWR1cWZzb3V0ZWF5bWZ3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDY5ODc2MjUsImV4cCI6MjAyMjU2MzYyNX0.Pvl0TDaEqdEfbYzo1XT4lHHdPMKlpbmU698-tWrOC2g"

# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgres://postgres.rrghhuduqfsouteaymfw:ar4yhGKmHLrf66ur@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"

# db_password=ar4yhGKmHLrf66ur